html {
    position: relative;
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    background-color: #000;
    color: #fff
}